/*
 * Custom sizing for sample code slide - adjust as needed.
 */
.reveal code {
  font-size: .9em;
  /* line-height: 1em; */
}

.shadow {
  box-shadow:0 14px 20px 0 rgba(0,0,0,0.2),0 10px 24px 0 rgba(0,0,0,0.19) !important;
}

